<html>
  <head>
    <link rel="stylesheet" href="<%= url('/style.css') %>" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Gudea" rel="stylesheet">
  </head>
  <body>
    <form action='/links' method='post'>
      <p>
        Title:
        <input class="field" type='text' name='title'>
      </p>
      <p>
        URL:
        <input class="field" type='text' name='url'>
      </p>
      <input class="button" type='submit' value='Submit' name='Submit'>
    </form>
  </body>
</html>
